@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.overlay {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.637);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

header {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  color: black;
}

.iconbotaovoltar {
  position: absolute;
  left: 3%;
  top: 20%;
}
.iconforcajovem {
  position: absolute;
  left: 46.5%;
  top: 10%;
}
.iconpessoa {
  position: absolute;
  left: 80%;
  top: 23%;
}
.iconcarrinho {
  position: absolute;
  left: 95%;
  top: 50px;
}
.cadastro1 {
  color: black;
  font-family: 'Podkova', serif;
  position: absolute;
  top: 35%;
  left: 86%;
}
.cadastro2 {
  color: black;
  font-family: 'Podkova', serif;
  position: absolute;
  top: 50%;
  left: 86%;
}
.numero0 {
  color: red;
  font-family: 'Podkova', serif;
  position: absolute;
  top: 35px;
  left: 97%;
}
#cabecalho {
  width: auto;
  height: 120px;
  background-color: white;
}

section{
  background: url('./imagens/vascocampeao.webp') no-repeat;
  background-size: cover;
  height: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.retangulo {
  width: 400px;
  height: 600px;
  background-color: #ffffff80;  
  border-radius: 50px;         
}
.texto-forca{
  font-family: 'New Rocker', sans-serif;
  margin-top: 150px;
  font-size: 100px;
  justify-content: center;
  align-items: center;
}
.categoria{

    width: 95vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tipo{
    width: 100%;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.botao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vw;
  font-family: 'Podkova', serif;
  font-size:  32px;
}